
<ol>
    <% @friendships.each do |fr| %>
    <li> 
        <% user=User.find_by_id(fr.friend_id) %>
        <% if user.id!= current_user %>
        <%= link_to user.username, user  %> </li>
        <% end %>
        <% end %>
</ol>

